body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: inherit; /* 기존 텍스트 색상과 일치시킵니다 */
  text-decoration: none; /* 밑줄 제거 */
  display: inline-block;
}

a:hover {
  color: inherit; /* 마우스를 올렸을 때도 텍스트 색상 유지 */
  text-decoration: none; /* 마우스를 올렸을 때도 밑줄 제거 */
}



